.chooseSec a:hover{
    text-decoration: none;
}
.chooseSec h2{
    text-align: center;
    color: #bdc3c7;
    margin-bottom: 50px;
}
.classes {
    font-family: 'Pacifico', cursive;
    width: 150px;
    height: 70px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px auto;
    color: #ce8d54;
}
.new-classes {
    background-color: #137bc0;
}
@media only screen and (min-width: 768px) {
    .classes :hover{
    background-color: #137bc0;
    cursor: pointer;
    color: #ce8d54;
    }
    .new-classes :hover{
        background-color: #3498db;
    }
}