.chooseSec h1{
    text-align: center;
    color: #bdc3c7;
    margin-bottom: 50px;
}.classes{
    font-family: 'Pacifico', cursive;
    width: 150px;
    height: 70px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px auto;
    color: #ce8d54;
}