.dashboard-div h1 {
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

.dashboard-div .name {
    text-align: center;
    color: #bdc3c7;
    font-size: 17px;
    padding: 0;
    margin: 5px 0;
    margin-bottom: 15px;

}

.dashboard-list {
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 14px;
}

.dashboard-list li {
    list-style: none;
    background: white;
    width: 85%;
    height: 52px;
    margin: 12px 0px;
    box-shadow: 1px 2px 8px black;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    transition: height .8s;
    overflow: hidden;
    padding: 0 10px;
    cursor: pointer;
}

.dashboard-list li .traingle {
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid black;
    border-right: 10px solid transparent;
    position: relative;
    left: -10px;
}

.dashboard-list li span {
    display: block;
    border-bottom: .1px solid #ecf0f1;
    height: 52px;
    display: flex;
    color: #2c3e50;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

.dashboard-list li span:nth-child(2) {
    position: relative;
    top: -9px;
}

.dashboard-list li span b,
.dashboard-list li span img {
    justify-items: right;
    color: rgb(14, 12, 12);
}

.back-cross {
    width: 99%;
    position: absolute;
    top: 7%;
    /* left: 80%; */
    text-align: right;
}
.back-cross div{
    display: inline-block;
}
.back-cross div span {
    /* position: relative; */
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 3.5px;
}

.back-cross div span:first-child {
    border: 1px solid white;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}

.back-cross div span:nth-child(2) {
    border: 1px solid white;
    border-right: none;
    border-bottom: none;

    transform: rotate(-45deg);
}

.dashboard-list li img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

@media only screen and (min-width: 768px) {
    .dashboard-div {
        background: #3498db;
        width: 380px;
        margin: auto;
        padding: 20px 0;
        border-radius: 10px;
    }

    .dashboard-list li {
        width: 90%;
    }

    .back-cross {
        width: 63%;
    }
    .back-cross div:hover, .dashboard-div p span{
        cursor: pointer;
    }
}