.menubox {
    background: black;
    /* height: 100%; */
    transition: all .5s;
    position: absolute;
    z-index: 1;
    width: 0px;
}

.UserName {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 26px;
    font-weight: bold;
    width: 100%;
}

.menubox i:hover{
    cursor: pointer;
}
.menubox ul {
    position: relative;
    width: 90%;
    left: -63.5vw;
    margin-top: 6vh;
    transition: all .5s;

}

.menubox ul li {
    color: white;
    font-size: 22px;
    font-weight: bold;
    list-style: none;
    margin: 28px 0;
    margin-left: 10px;
    cursor: pointer;
}

.menubox div {
    /* border: 1px solid white; */
    width: 100%;
    /* height: 100%; */
    text-align: center;
}

.menubox div img {
    width: 40px;
    height: 40px;
    margin: 0 6px;
}
.menubox div img:nth-child(3) {
    position: relative;
    top: 3px;
    margin: 0 3px;
    width: 46px;
    height: 46px;

}

@media only screen and (min-width: 768px) {
    .menubox {
        top: 13vh;
        left: 0;
        height: 89vh;
        width: 0vw;
    }

    .menubox ul {
        position: relative;
        width: 50vw;
        left: -61vw;
        margin-top: 8vh;
        transition: all .5s;

    }

    .menubox ul div {
        padding-top: 0px;
        padding-left: 19%;
    }

    .menubox ul li {
        margin: 25px 0;

    }

    .menubox ul li:hover {
        font-size: 26px;
        color: red;
        transition: all .4s ease-in-out;
    }

    .menubox ul div img {
        margin: 0 20px;
        cursor: pointer;
    }
    .menubox ul div img:nth-child(3) {
    width: 50px;
    height: 50px;
    }
}